.App {
  text-align: center;
}
  
.container {
  padding: 25px;
}
  
h1 {
  color: gray;
}
h2 {
  font-size: .8em;
}
.PropName {
  font-weight: bold;
  color: #6264A7;
}
.Logo {
  font-size: 45pt;
  color: #6264A7;
}
.Error {
  color: red;
}

.d-flex{
  width: 200px;
  display: flex;
  flex-direction: row;
}

.margin-top-5{
  margin-top: 5%; 
}

.margin-2{
  margin: 2% 2%; 
}


.main_div{
  width: 500px;
  margin-left: -60px;
}
.other_div{
  width: 100px;
}